{extends file='../layout.tpl'}
{block name=head}
    <link rel="stylesheet" href="{$base_url}/lib/css/course.css">
{/block}
{block name=body}
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                {foreach from=$courseInfo item=value}
                    <div class="col-xs-4 col-sm-4 col-md-3 block" onclick="window.open('{$base_url}index.php/course/{$value['course_id']}'); ">
                        <div class="inner">
                            <div class="image">
                                <img src="{$value['img_path']}" alt="" width="100%" height="100%">
                            </div>
                            <div class="text">
                                <div class="name">
                                    {$value['course_name']}
                                </div>
                                <div class="introduction">
                                    {$value['course_introduction']}
                                </div>
                            </div>
                            <div class="teacher">
                                教师：{$value['teacher_name']}
                            </div>
                            <div class="cover">
                            </div>
                        </div>
                    </div>
                {/foreach}
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
{/block}