<{block name=head}>
	<title>学生信息</title>
	<style>
		div{
			border: 0.1px solid #ccc;
		}
		.inf{
			width: 97%;
			margin: 0 auto;
			/*height: 100%;*/
		}
		table{
			margin-top: 50px;
			border: 1px solid red;
			width: 100%;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
		}
		tr,td{
			height:35px;
		}
	</style>
<{/block}>
<{block name=body}>
	
<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<div class="inf">
				<table>
					<tr>
						<td>姓名</td>
						<td><{$data['student_name']}></td>
					</tr>
					<tr>
						<td>班级</td>
						<td>dsaf</td>
					</tr>
					<tr>
						<td>学号</td>
						<td>150403420</td>
					</tr>
				</table>
			</div>			
		</div>
		<div class="col-md-7"></div>
		<div class="col-md-1"></div>
	</div>
</div>

<{/block}>
